asgiref==3.7.2
astroid==2.15.6
black==23.7.0
click==8.1.6
crispy-bootstrap5==0.7
Django==4.2.4
django-autoslug==1.9.9
django-cleanup==8.0.0
django-crispy-forms==2.0
django-extensions==3.2.3
flake8==6.1.0
flake8-django==1.4
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
pycodestyle==2.11.0
pyflakes==3.1.0
ruff==0.0.284
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
wrapt==1.15.0
