{% extends 'base.html' %} 

{% load static %} 

{% block title %}| Checkout{% endblock title %} 

{% block content %}

<header class="bg-dark py-5 m-0">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Checkout</h1>
      <p class="lead fw-normal text-white-50 mb-0">Review your order and update shipping information.</p>
    </div>
  </div>
</header>

<div class="container my-3">
  <div class="row align-items-center">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Order Summary
        </div>
        <div class="card-body">
          <p class="card-text">
            {% for product in cart_products %} 
              {{ product.name }}: 
              {% if product.is_sale %} 
                ${{ product.sale_price }} 
              {% else %} 
                ${{ product.price }} 
              {% endif %}
              <br />
            <small>
              Quantity: 
              {% for key, value in quantities.items %} 
                {% if key == product.id|slugify %} {{ value }} 
                {% endif %} 
              {% endfor %}
            </small>
          </p>
          {% endfor %}
        </div>
        <div class="card-footer text-body-secondary">
          <strong class="px-3">Total: ${{ totals }}</strong>
          <a
                href="{% url 'cart-summary' %}"
                class="btn btn-warning"
                >Update Items</a
              >
        </div>
      </div>
    </div>
    <div class="col-md-6 offset-md-3 mt-3">
      <div class="card mb-3">
        <div class="card-header">Shipping Address</div>
        <div class="card-body">
          <form action="{% url 'billing_info' %}" method="post">
            {% csrf_token %}
            {{ shipping_form.as_p }}
            <div align="right">
              <button type="submit" class="btn btn-secondary"
                >Continue to Billing <i class="fa-solid fa-arrow-right"></i></i
              ></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6 offset-md-3 my-3">
      <a href="{% url 'billing_info' %}" class="btn btn-success btn-lg w-100">Continue to Billing <i class="fa-solid fa-arrow-right"></i></a>
    </div> -->
  </div>
</div>

{% endblock content %}
